GITHUB_TOKEN=
GITHUB_API_URL=https://api.github.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SCAN_INTERVAL=60000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=repo_subscriber
DB_MIGRATIONS_DIR=src/db/migrations

REPO_MANAGER_COMMUNICATION=grpc
REPO_MANAGER_GRPC_URL=localhost:50051
