GITHUB_TOKEN=
GITHUB_API_URL=https://api.github.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SCAN_INTERVAL=60000

# Note: or DB_CLIENT=sqlite for SQLite
DB_CLIENT=pg

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=repo_subscriber

# Used by the application (Docker provides its own value if needed)
DATABASE_URL=postgresql://postgres:postgres@db:5432/repo_subscriber

